{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">Lingurița</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active"><a class="nav-link active">Dashboard</a></li>
              {% if curr_usr_role == 'Doctor' %}
                <li><a href="{{ url_for('assign_patient') }}">Adaugă pacient</a></li>
              {% endif %}
              <li><a href="{{ url_for('change_info') }}">Modifică informații cont</a></li>
            <li><a href="{{ url_for('logout') }}">Deconectează-te</a></li>
          </ul>
          <form class="navbar-form navbar-right">
          </form>

        </div>
      </div>
    </nav>

    <body style="background-color: #eeeeee;">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
         <div>
         <ul>
         {% if curr_usr_role == 'Doctor' %}
             {% if patients|length == 0 %}
                 <p>Nu aveți încă pacienți asignați. Mergeți la „Adaugă pacienți”</p>
             {% else %}
                     <p>Pacienții dumneavoastra:</p>
                {% for i in range(patients|length) %}
                    {% if pending[i] == False %}
                    <li><a href="{{ url_for('view_patient', patient_id=patients[i].id) }}">{{ patients[i].first_name }}  {{ patients[i].last_name }}</a></li>
                    {% else %}
                    <li class="pending" style="color:indianred">{{ patients[i].first_name }}  {{ patients[i].last_name }} nu a acceptat înca invitația dvs.</li>
                    {% endif %}
                {% endfor %}
             {% endif %}
         {% endif %}
         </ul>
        </div>
         <div>
         {% if curr_usr_role == 'Patient' %}
             {% if pending_doctors|length != 0 %}
             <p>Următorii medici doresc să vă adauge în listele lor de pacienți: </p>
                 {% for doctor in pending_doctors %}
                        <li>{{ doctor.first_name }} {{ doctor.last_name }} <button type="button" class="btn btn-success" onclick=" window.location.href='{{ url_for('gestionare_cereri', doctor_id=doctor.id, accepted=1)}}'">Acceptă</button>  <button type="button" class="btn btn-danger" onclick=" window.location.href='{{ url_for('gestionare_cereri', doctor_id=doctor.id, accepted=0)}}'">Șterge cererea</button></li>
                 {% endfor %}
             {% endif %}

             {% if assigned_doctors|length != 0 %}
                 <p>Medicii dumneavoastră:</p>
                 {% for doctor in assigned_doctors %}
                         <li><a href="{{ url_for('view_patient', patient_id=doctor.id) }}">{{ doctor.first_name }} {{ doctor.last_name }}</a></li>
                 {% endfor %}
             {% endif %}

            {% if device_key == 0 %}
                <a href="{{ url_for('add_device') }}">Adaugă un nou device pentru a putea folosi funcția de dashboard</a>
            {% else %}
            <h4> Folosiți device-ul cu codul {{ device_key }} <button type="button" class="btn btn-danger" onclick=" window.location.href='{{ url_for('delete_device')}}'">Nu mai folosesc acest device</button></h4>
             {% endif %}
         {% endif %}
        </div>
    </body>
    <footer class="page-footer font-small">
      <div class="footer-copyright text-center navbar-fixed-bottom" style="background-color: #333333; color: #9D9D9D;">© 2020 Copyright:
          <a href="https://github.com/InaTencu"> Țencu Ina </a>
      </div>
    </footer>
    <br>

{% endblock %}